/* Global Rules */
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --secend-color: #ececec;
    --main-transition: 0.3s;
    --section-padding: 100px 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

.main-heading {
    position: relative;
    border: 2px solid;
    width: fit-content;
    padding: 10px 20px;
    margin: 0 auto 80px;
    text-transform: uppercase;
    cursor: default;
    transition: .2s;
    font-size: 27px;
}

.main-heading:hover {
    transition-delay: .5s;
    color: #fff;
    border-color: #fff;
}

.main-heading::before,
.main-heading::after {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.main-heading:hover::before {
    animation: heading-go-left .5s linear forwards;
}

.main-heading:hover::after {
    animation: heading-go-right .5s linear forwards;
}

.main-heading::before {
    left: -30px;
}

.main-heading::after {
    right: -30px;
}

input,
textarea {
    caret-color: var(--main-color);
}

input::placeholder,
textarea::placeholder {
    transition: opacity var(--main-transition);
}

input:focus::placeholder,
textarea:focus::placeholder {
    opacity: 0;
}

/* Global Rules */
/* Header */
header {
    background-color: #fff;
    box-shadow: 0 0 9px #ddd;
    position: relative;
    height: 72px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container > ul {
    display: flex;
}

header .container > ul > li > a {
    position: relative;
    overflow: hidden;
    color: #000;
    font-size: 18px;
    padding: 0 30px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--main-transition);
}

header .container > ul > li > a::before,
header .container > ul > li > a.active::before {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}

header .container > ul > li > a:hover,
header .container > ul > li > a.active {
    color: var(--main-color);
    background: #fafafa;
}

header .container > ul > li > a:hover::before,
header .container > ul > li > a.active::before {
    left: 0;
}

/* Header */
/* Mega Menu */
header .mega-menu {
    position: absolute;
    background-color: #fff;
    left: -50px;
    width: 100%;
    z-index: -100;
    top: calc(100% + 50px);
    border-bottom: 3px solid var(--main-color);
    display: flex;
    gap: 40px;
    padding: 30px;
    transition: var(--main-transition);
    opacity: 0;
}

header .container > ul > li:nth-child(4):hover .mega-menu,
.mega-menu.active {
    opacity: 1;
    left: 0;
    z-index: 100;
    top: calc(100% + 1px);
}

header .mega-menu img {
    max-width: 100%;
}

header .mega-menu .links {
    min-width: 250px;
}

header .mega-menu .links > li {
    padding: 16px;
    position: relative;
}

header .mega-menu .links > li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transition);
}

header .mega-menu .links > li:hover::before {
    width: 100%;
}

header .mega-menu .links > li:not(:last-child)::after {
    content: '';
    background-color: #cccccc8f;
    height: 1px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

header .mega-menu .links > li a {
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
}

header .mega-menu .links > li a i {
    margin-right: 10px;
}

/* Mega Menu */
/* Landing */
.landing {
    position: relative;
}

.landing::before {
    content: '';
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: calc(100%);
    background-color: var(--secend-color);
    z-index: -2;
    transform: skewY(-10deg);
    transform-origin: top left;
}

.landing .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: calc(100vh - 72px);
    padding-bottom: 120px;
}

.landing .text-content {
    flex: 1;
}

.landing .text-content h1 {
    font-size: 40px;
    letter-spacing: -2px;
    height: 75px;
    margin: 0;
}

.landing .text-content p {
    max-width: 500px;
    font-size: 23px;
    color: #667;
    line-height: 1.7;
    height: 62px;
}

@media(max-width: 991px) {
    .landing .text-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .landing .text-content p {
        margin: 10px auto;
    }
}

@media(max-width: 767px) {
    .landing .text-content h1 {
        font-size: 30px
    }

    .landing .text-content p {
        font-size: 18px;
    }
}

.landing .image img {
    width: 520px;
    position: relative;
    animation: up-down 4s linear infinite;
}

@media(max-width: 991px) {
    .landing .image {
        display: none;
    }
}

.landing .go-down {
    position: absolute;
    bottom: 30px;
    color: var(--main-color);
    transform: translateX(-50%);
    left: 50%;
    font-size: 30px;
}

.landing .go-down:hover {
    color: var(--main-color-alt);
}

.landing .go-down i {
    animation: bouncing 1.5s infinite;
}

/* Landing */
/* Articales */
.articales {
    padding: var(--section-padding);
}

.articales .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.articales .container .card {
    border-radius: 7px;
    box-shadow: 0 0 10px #ccc9;
    transition: var(--main-transition);
    overflow: hidden;
}

.articales .container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 0 10px 1px #ccc;
}

.articales .container .card img {
    max-width: 100%;
}

.articales .container .card .content h4 {
    font-size: 19px;
    margin: 25px 0 11px 20px;
}

.articales .container .card .content p {
    margin: 0 0 20px 20px;
    color: #767676;
}

.articales .container .card .info {
    border-top: 1px solid #cfcfcfb8;
    display: flex;
    align-items: center;
    color: var(--main-color);
    font-weight: bold;
    padding: 25px 20px;
    justify-content: space-between;
}

.articales .container .card .info a {
    cursor: pointer;
    color: inherit;
}

.articales .container .card:hover .info i {
    animation: go-left .6s linear infinite;
}

/* Articales */
/* Gallery */
.gallery {
    padding: var(--section-padding);
    background-color: var(--secend-color);
    position: relative;
    z-index: 0;
}

.gallery .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.gallery .img-box {
    position: absolute;
    z-index: 200;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery .img-box img {
    width: 100%;
    border: 15px solid #fff;
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
}

.gallery .box {
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 10px #6660607d;
    overflow: hidden;
}

.gallery .image {
    overflow: hidden;
    position: relative;
}

.gallery .image::after {
    content: '';
    position: absolute;
    width: 120%;
    height: 120%;
    left: 50%;
    top: 50%;
    background: #dddddd4a;
    transition: .3s;
    transform: translate(-50%, -50%) scale(0);
}

.gallery .image img {
    transition: var(--main-transition);
    max-width: 100%;
}

.gallery .box:hover img {
    transform: rotate(5deg) scale(1.1);
}

.gallery .box:hover .image::after {
    animation: flashing .5s linear;
}

/* Gallery */
/* Features */
.features {
    padding: var(--section-padding);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .box {
    border: 1px solid rgb(0 0 0 / 20%);
    position: relative;
    overflow: hidden;
}

.features .box .img {
    position: relative;
}

.features .box .img::before {
    content: '';
    position: absolute;
    left: 0;
    top: -4px;
    width: 100%;
    height: 100%;
}

.features .box .img img {
    max-width: 100%;
}

.features .box .content {
    padding: 0px 25px 15px;
    text-align: center;
    margin: 20px 0 28px;
    position: relative;
}

.features .box .content::before {
    content: '';
    position: absolute;
    top: -190px;
    right: -1px;
    width: 130%;
    height: 196px;
    background-color: white;
    clip-path: polygon(100% 0%, 100% 100%, -37% 100%);
    transition: var(--main-transition);
}

.features .box:hover .content::before {
    clip-path: polygon(0% 30%, 139% 100%, -37% 100%);
}

.features .box .content h2 {
    font-size: 35px;
    font-weight: bold;
    position: relative;
    width: fit-content;
    margin: auto;
    padding: 0 0 15px;
    margin-bottom: 28px;
    color: #000;
}

.features .box .content h2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: calc(100% - 35px);
    height: 5px;
    transform: translateX(-50%);
}

.features .box .content p {
    max-width: 240px;
    margin: 0 auto 40px;
    font-size: 18px;
    line-height: 1.6;
    color: #777;
}

.features .box .content a {
    position: relative;
    font-size: 21px;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 6px;
}

.features .box .content a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: var(--main-transition);
}

.features .box:hover .content a::before {
    width: 100%;
}

/* Start First Child */
.features .box:first-of-type {
    color: rgb(244 64 54);
}

.features .box:first-of-type .img::before {
    background-color: rgb(244 64 54 / 60%);
}

.features .box:first-of-type h2::after {
    background-color: rgb(244 64 54);
}

.features .box:first-of-type .content a {
    position: relative;
    font-size: 21px;
    font-weight: bold;
    border: 3px solid rgb(244 64 54);
    padding: 5px 30px;
    border-radius: 6px;
    color: rgb(244 64 54);
    transition: var(--main-transition)
}

.features .box:first-of-type:hover .content a {
    color: #fff;
    border: 3px solid rgb(244 64 54)
}

.features .box:first-of-type .content a::before {
    background-color: rgb(244 64 54);
}

/* End First Child */
/* Secend Child */
.features .box:nth-child(2) {
    color: rgb(0 150 136)
}

.features .box:nth-child(2) .img::before {
    background-color: rgb(0 150 136 / 60%);
}

.features .box:nth-child(2) h2::after {
    background-color: rgb(0 150 136)
}

.features .box:nth-child(2) .content a {
    position: relative;
    font-size: 21px;
    font-weight: bold;
    border: 3px solid rgb(0 150 136);
    padding: 5px 30px;
    border-radius: 6px;
    color: rgb(0 150 136);
    transition: var(--main-transition)
}

.features .box:nth-child(2):hover .content a {
    color: #fff;
    border: 3px solid rgb(0 150 136);
}

.features .box:nth-child(2) .content a::before {
    background-color: rgb(0 150 136);
}

/* End Secend Child */
/* Start Last Child */
.features .box:last-of-type {
    color: rgb(3 169 244);
}

.features .box:last-of-type .img::before {
    background-color: rgb(3 169 244 / 60%);
}

.features .box:last-of-type h2::after {
    background-color: rgb(3 169 244);
}

.features .box:last-of-type .content a {
    position: relative;
    font-size: 21px;
    font-weight: bold;
    border: 3px solid rgb(3 169 244);
    padding: 5px 30px;
    border-radius: 6px;
    color: rgb(3 169 244);
    transition: var(--main-transition)
}

.features .box:last-of-type:hover .content a {
    color: #fff;
    border: 3px solid rgb(3 169 244);
}

.features .box:last-of-type .content a::before {
    background-color: rgb(3 169 244);
}

/* End Last Child */
/* Features */
/* Testimonials */
.testimonials {
    padding: var(--section-padding);
    background-color: var(--secend-color);
    position: relative;
    z-index: 0;
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.testimonials .container .box {
    background-color: #fff;
    position: relative;
    border-radius: 7px;
    box-shadow: 0 0 7px #ccc;
}

.testimonials .container .content {
    padding: 20px;
}

.testimonials .container .content .name {
    margin-bottom: 8px;
}

.testimonials .container .content p {
    color: #7b7b77;
    margin-bottom: 10px;
    line-height: 1.7;
}

.testimonials .container .content .stars .yellow {
    color: #ffc107;
    margin-bottom: 10px;
}

.testimonials .container .content .discription {
    margin-bottom: 0;
}

.testimonials .container .image {
    position: absolute;
    top: -42px;
    right: -8px;
    overflow: hidden;
    background-color: var(--secend-color);
    padding: 6px;
    border-radius: 50%;
    width: 94px;
}

.testimonials .container .image img {
    border-radius: 50%;
    width: 100%;
}

/* Testimonials */
/* Team Members */
.team {
    padding: var(--section-padding);
}

.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 11fr));
    gap: 40px;
}

.team .container .box {
    position: relative;
}

.team .container .box::before,
.team .container .box::after {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 10px;
}

.team .container .box::before {
    width: calc(100% - 60px);
    z-index: -2;
    background-color: #f3f3f3;
}

.team .container .box::after {
    width: 0px;
    background-color: #d5d3d369;
    z-index: -1;
    border-radius: 10px;
    transition: var(--main-transition)
}

.team .container .box:hover::after {
    width: calc(100% - 60px);
}

.team .container .box .top {
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.team .container .box .top img {
    width: calc(100% - 60px);
    border-radius: 10px;
    transition: var(--main-transition);
}

.team .container .box:hover img {
    filter: grayscale(100%);
}

.team .container .box .top .links-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.team .container .box .top .links-icon a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 32px;
}

.team .container .box .top .links-icon i {
    color: #777;
    transition: var(--main-transition);
}

.team .container .box .top .links-icon a:hover i {
    color: #008eff;
}

.team .container .box .bottom {
    margin: 15px 0 15px 93px;
}

.team .container .box .bottom h3 {
    margin: 15px 0;
    color: var(--main-color);
    font-size: 25px;
    transition: var(--main-transition);
}

.team .container .box:hover h3 {
    color: #777;
}

/* Team Members */
/* Services */
.services {
    padding: var(--section-padding);
    background-color: var(--secend-color);
    position: relative;
    z-index: 0;
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.services .container .box {
    position: relative;
    background-color: #fff;
    box-shadow: 0px 3px 6px -1px rgb(0 0 0 / 27%);
    transition: var(--main-transition);
}

.services .container .box:hover {
    transform: translateY(-10px);
}

.services .container .box::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}

.services .container .box:hover::before {
    width: 100%;
}

.services .box .top {
    padding: 20px;
    text-align: center;
}

.services .box .top i {
    font-size: 60px;
    color: #d5d5d5;
}

.services .box .top h3 {
    color: var(--main-color);
    font-size: 26px;
    padding: 20px 0;
}

.services .box .bottom {
    background-image: linear-gradient(120deg, var(--main-color) 70px, #dedede 70px, #dedede 40%, #f9f9f9 40%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 18px;
}

.services .box .bottom .count {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

.services .box .bottom a {
    color: var(--main-color);
}

/* Services */
/* Our Skills */
.our-skills {
    padding: var(--section-padding);
}

.our-skills .container {
    display: flex;
    align-items: center;
}

.our-skills .skills-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    gap: 10px;
    flex: 1;
}

.our-skills .skills-container .skill {
    position: relative;
}

.our-skills .skills-container .skill > span {
    display: block;
    width: 100%;
    height: 30px;
    background-color: #eee;
    margin: 20px 0;
    position: relative;
}

.our-skills .skills-container .skill span .the-progress {
    position: absolute;
    width: 0%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--main-color);
    transition: .9s;
}

.our-skills .skills-container .skill span span::after {
    content: attr(data-progress) " ";
    position: absolute;
    text-align: center;
    right: 0;
    top: -29px;
    color: var(--main-color);
    border: 1px solid #cccccc;
    font-size: 13px;
    border-radius: 4px;
    padding: 1px 4px;
}

/* Our Skills */

/* How It Work */
.how-work {
    padding: var(--section-padding);
    background-color: var(--secend-color);
    position: relative;
    z-index: 0;
}

.how-work .container {
    display: flex;
    align-items: center;
    gap: 100px;
}

.how-work .content-container {
    display: flex;
    flex-direction: column;
}

.how-work .box {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 25px 20px;
    background-color: #f6f5f5;
    margin: 10px 0;
    border: 2px solid #fff;
    border-radius: 5px;
}

.how-work .box::before {
    content: '';
    position: absolute;
    background-color: #ededed;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    transition: .4s;
    z-index: -1;
}

.how-work .box:hover::before {
    width: 100%;
    height: 100%;
}

.how-work .box img {
    margin-right: 24px;
    margin-left: 10px;
    width: 60px;
}

.how-work .box .text-content {
    padding: 0 10px;
}

.how-work .box h3 {
    font-size: 23px;
    margin-bottom: 15px;
}

.how-work .box p {
    line-height: 1.7;
    color: #777;
    font-size: 18px;
}

/* How It Work */
/* Events */
.events {
    padding: var(--section-padding);
    position: relative;
}

.events .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.events img {
    max-width: 450px;
}

.events .info {
    flex: 1;
    text-align: center
}

.events .time {
    display: flex;
    gap: 10px;
    margin: 10px auto;
    justify-content: center;
}

.events .time .unit {
    border: 1px solid #d4d4d4;
    width: 75px;
    border-radius: 6px;
}

.events .time .unit span:first-child {
    display: block;
    padding: 15px 0;
    font-size: 35px;
    color: var(--main-color);
    font-weight: bold;
}

.events .time .unit span:last-child {
    display: block;
    font-size: 13px;
    padding: 5px 0;
    border-top: 1px solid #d4d4dd;
}

.events .time .unit,
.events .time .unit span:last-child {
    transition: var(--main-transition);
}

.events .time .unit:hover,
.events .time .unit:hover span:last-child {
    border-color: var(--main-color);
}

.events .title {
    margin-top: 40px;
    font-size: 30px;
}

.events .discreption {
    color: #777;
    line-height: 1.7;
    margin-top: 20px;
    font-size: 17px;
}

.events .form {
    width: 600px;
    margin: 50px auto;
    background-color: #f6f5f5;
    padding: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 50px;
}

.events .form input {
    border: none;
    outline: none;
    padding: 20px;
    flex: 1;
    border-radius: 40px;
    caret-color: var(--main-color);
}

.events .form .submit {
    background-color: var(--main-color);
    padding: 20px;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: var(--main-transition);
    user-select: none;
    text-align: center;
}

.events .form .submit:hover {
    background-color: var(--main-color-alt);
}

/* Events */
/* Pricing */
.pricing {
    padding: var(--section-padding);
    background-color: var(--secend-color);
    position: relative;
    z-index: 0;
}

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.pricing .plan {
    background-color: #fff;
    padding: 30px 0;
    text-transform: capitalize;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    position: relative;
    z-index: 1;
}

.pricing .plan::before,
.pricing .plan::after {
    transition: var(--main-transition);
    content: '';
    position: absolute;
    width: 0%;
    height: 50%;
    background-color: #f6f6f6;
    z-index: -1;
}

.pricing .plan::before {
    top: 0;
    left: 0;
}

.pricing .plan::after {
    top: 50%;
    right: 0;
}

.pricing .plan:hover::before,
.pricing .plan:hover::after {
    width: 100%;
}

.pricing span {
    display: block;
}

.pricing .plan .title {
    text-align: center;
    font-size: 25px;
    letter-spacing: -1px;
}

.pricing .plan img {
    max-width: 80px;
    margin: 25px auto;
    display: block;
}

.pricing .plan .price {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: var(--main-color);
}

.pricing .plan .the-term {
    font-size: 15px;
    color: #777;
    text-align: center;
    margin: 10px 0px 20px;
}

.pricing .plan .pros li {
    border-top: 1px solid #eeeeee;
    padding: 20px;
    display: flex;
    align-items: center;
}

.pricing .plan .pros li i {
    color: var(--main-color);
    font-size: 19px;
    padding-right: 8px;
}

.pricing .plan .choose-btn {
    text-align: center;
    border: 2px solid var(--main-color);
    padding: 13px 0px;
    cursor: pointer;
    width: 130px;
    margin: 20px auto;
    border-radius: 6px;
    font-size: 17px;
    color: var(--main-color);
    font-weight: bold;
    transition: var(--main-transition);
}

.pricing .plan .choose-btn:hover {
    background-color: var(--main-color-alt);
    border-color: var(--main-color-alt);
    color: #fff;
}

.pricing .plan:nth-child(2) .most {
    position: absolute;
    background-color: var(--main-color);
    color: #fff;
    padding: 10px 10px 30px;
    font-size: 18px;
    font-weight: bold;
    top: 0;
    right: 20px;
    writing-mode: vertical-rl;
}

.pricing .plan:nth-child(2) .most::after {
    content: '';
    position: absolute;
    border-color: transparent transparent #fff transparent;
    border-width: 20px;
    border-style: solid;
    bottom: 0px;
    left: 0;
}

/* Pricing */
/* videos */
.videos {
    padding: var(--section-padding);
}

.videos .holder {
    display: flex;
    justify-content: center;
    background-color: var(--secend-color);
    border: 1px solid #ddd;
}

.videos .holder .list {
    background-color: #fff;
    min-width: 300px;
}

.videos .list h3 {
    color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
}

.videos .list h3 i {
    cursor: pointer;
}

.videos .list ul li {
    padding: 20px;
    border-top: 1px solid #ddd;
    cursor: pointer;
    transition: var(--main-transition);
}

.videos .list ul li:hover,
.videos .list ul li:first-child {
    background-color: rgb(244 244 244 / 50%);
    color: var(--main-color)
}

.videos .list ul li span {
    display: block;
    color: #777;
    margin-top: 8px;
}

.videos .preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.videos .preview img {
    max-width: 100%;
}

.videos .preview .info {
    background-color: #fff;
    padding: 20px;
    font-size: 17px;
    margin-top: 10px;
}

/* videos */
/* Stats */
.stats {
    padding: var(--section-padding);
    position: relative;
    background-image: url(../img/stats.jpg);
    background-size: cover;
    z-index: 0;
}

.stats .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 92%);
    top: 0px;
    z-index: -1;
}

.stats .heading {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.stats .box {
    background-color: #fff;
    padding: 30px;
    margin-right: 10px;
    text-align: center;
    font-weight: bold;
    opacity: .9;
    position: relative;
    transition: var(--main-transition);
}

.stats .box::before,
.stats .box::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 0%;
    background-color: var(--main-color);
    transition: .8s;
}

.stats .box::before {
    top: 0;
    left: 0;
}

.stats .box::after {
    bottom: 0;
    right: 0;
}

.stats .box:hover {
    opacity: 1;
}

.stats .box:hover::before,
.stats .box:hover::after {
    height: 100%;
}

.stats .box i {
    font-size: 31px;
}

.stats .box span:first-of-type {
    font-size: 50px;
    margin: 10px 0;
    display: block;
}

.stats .box span:last-of-type {
    color: var(--main-color);
    font-size: 20px;
    font-style: italic;
}

/* Stats */
/* Discount */
.discount {
    position: relative;
    z-index: 0;
}

.discount .holder {
    display: flex;
    justify-content: space-between;
}

.discount .right,
.discount .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px 0;
}

.discount .left {
    color: #fff;
    background-color: var(--main-color-alt);
}

.discount h2 {
    font-size: 42px;
    margin-bottom: 30px;
    margin-top: 60px;
    letter-spacing: -1px;
}

.discount .left p {
    font-size: 18px;
    font-weight: bold;
    max-width: 490px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.discount .left img {
    max-width: 300px;
}

.discount .right {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discount .right .form input,
.discount .right .form textarea {
    display: block;
    outline: none;
    margin: 30px 0;
    min-width: 320px;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: #f9f9f9;
    border-bottom: 1px solid #cccccc;
}

.discount .right .form textarea {
    min-height: 200px;
    max-height: 300px;
    max-width: 320px
}

.discount .right .form .send-btn {
    width: 100%;
    color: #fff;
    background-color: var(--main-color);
    padding: 15px 20px;
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
    transition: var(--main-transition);
}

.discount .right .form .send-btn:hover {
    background-color: var(--main-color-alt);
}

/* Discount */
/* Footer */
.footer {
    padding: 80px 0 0;
    background-color: #191919;
    color: #FFF;
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    color: #b9b9b9;
    align-items: center;
}

.footer .box h2 {
    font-size: 45px;
    color: #fff;
}

.footer .box .social {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.footer .box .social li {
    margin-right: 10px;
    background-color: #313131;
    padding: 15px;
    transition: var(--main-transition);
}

.footer .box .social li:first-child:hover {
    background-color: #0165E1;
}

.footer .box .social li:nth-child(2):hover {
    background-color: #17A9FD;
}

.footer .box .social li:last-child:hover {
    background-color: #FF0000;
}

.footer .box .social li a i {
    font-size: 22px;
    width: 22px;
    display: flex;
    justify-content: center;
    color: #b9b9b9;
}

.footer .box p {
    line-height: 2;
}

.footer .box .links li {
    margin-bottom: 12px;
    border-bottom: 1px solid #444444;
    padding-bottom: 17px;
}

.footer .box .links li:last-of-type {
    border: none;
}

.footer .box .links li a {
    transition: var(--main-transition);
    color: #b9b9b9;
}

.footer .box .links li a::before {
    font-family: "Font Awesome 6 Free";
    content: "\f101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}

.footer .box .links li:hover a {
    margin-left: 15px;
    color: #fff;
}

.footer .box .address li {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    line-height: 2;
}

.footer .box .address li i {
    margin-right: 10px;
    color: var(--main-color);
    font-size: 23px;
}

.footer .box:last-child {
    align-self: flex-start;
}

.footer .box .imgs img {
    width: 70px;
    border: 3px solid #fff;
    margin-right: 5px;
}

.footer .copyright {
    padding: 30px;
    text-align: center;
    border-top: 1px solid #444444;
    margin-top: 30px;
}

.footer .copyright span {
    color: var(--main-color);
    font-size: 19px;
    font-weight: bold;
    font-style: italic;
}

/* Footer */
